<h2>Carrito de Compras</h2>

<button mat-button (click)="regresarAListado()">Regresar al Listado de Productos</button>

<!-- Agrega un botón para realizar la compra -->
<button mat-button (click)="realizarCompras()">Realizar Compra</button>

<!-- Muestra un mensaje de "Compra realizada" si la compra se ha realizado -->
<div *ngIf="compraRealizada" class="compra-realizada mostrar">
  Compra realizada
</div>

<table *ngIf="mostrarTabla">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let compra of arrayCompra">
      <td>{{ compra.titulo }}</td>
      <td>{{ compra.cantidad }}</td>
      <td>{{ compra.precioCompra }}</td>
    </tr>
  </tbody>
</table>

<!-- Agrega los select para Tipo de Envío y Tipo de Pago -->
<div *ngIf="mostrarTabla">
  <label for="tipoEnvio">Tipo de Envío:</label>
  <select id="tipoEnvio" [(ngModel)]="tipoEnvio" name="tipoEnvio" required>
    <option value="Recojo Presencial">Recojo Presencial</option>
    <option value="Envío Delivery">Envío Delivery</option>
  </select>

  <label for="tipoDePago">Tipo de Pago:</label>
  <select id="tipoDePago" [(ngModel)]="tipoDePago" name="tipoDePago" required>
    <option value="Pago Virtual">Pago Virtual</option>
    <option value="Pago Presencial">Pago Presencial</option>
  </select>
</div>
