.navegacion-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

a:hover,
a:active{
  color: #DBCDE6;
}

.cart-item-count {
  background-color: red; /* Puedes personalizar los estilos de fondo y color de fuente */
  color: white;
  padding: 2px 6px; /* Ajusta el espaciado según tu diseño */
  border-radius: 50%; /* Crea un círculo alrededor del número */
  font-size: 12px; /* Tamaño de fuente del número */
}

/* Agrega estilos para la imagen de perfil */
.profile-picture {
  width: 40px; /* Tamaño deseado en píxeles */
  height: 40px; /* Tamaño deseado en píxeles */
  border-radius: 50%; /* Para hacerla circular */
}

