<div class="search-container">
  <label class="searsh-label" for="searchInput">Buscar usuarios</label>
  <input
    type="text"
    id="searchInput"
    placeholder="Escribe aquí..."
    [(ngModel)]="searchTerm"
    (input)="updateFilteredUsers()"
    class="search-input"
  />
</div>

<div *ngIf="loading$ | async; else loadedContent" class="loading-message">
  Cargando...
</div>

<div class="table-responsive">
  <!-- Tarjeta para la tabla de usuarios -->
  <ng-template #loadedContent>
    <mat-card class="mat-table-card">
      <h2>Lista de Usuarios con sus Compras Pendientes Por Revisar y Despachadas</h2>
      <mat-table [dataSource]="filteredUsers" class="mat-elevation-z8">
        <ng-container matColumnDef="id" class="ng-container">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.id }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="negocioId" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Negocio</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.negocioId }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nombre" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.nombre }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="apellido" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Apellido</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.apellido }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="telefono" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Teléfono</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.telefono }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="role" class="ng-container">
          <mat-header-cell *matHeaderCellDef>Rol</mat-header-cell>
          <mat-cell *matCellDef="let user" class="table-fill">{{ user.role }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="compras" class="ng-container">
          <mat-header-cell *matHeaderCellDef >Compras </mat-header-cell>
          <mat-cell *matCellDef="let user">
            <ng-container *ngIf="userComprasMap[user.id] && userComprasMap[user.id].length > 0">
              <button mat-button color="primary" (click)="openModal(userComprasMap[user.id])" class="edit-button">
                Ver Compras
              </button>
            </ng-container>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card>
  </ng-template>
</div>
