<div class="negocio-list">
  <h1>Listado de Categorías</h1>

  <ng-container *ngIf="loading$ | async; else categoriasListLoading">
    <p>Cargando categorías...</p>
  </ng-container>

  <ng-template #categoriasListLoading>
    <ul>
      <li *ngFor="let categoria of categorias$ | async">
        <mat-card class="categoria-card">
          <mat-card-content>
            <!-- Muestra información relevante de la categoría -->
            <div>Nombre de Categoría: {{ categoria.nombre }}</div>
            <div>Fecha de Creación: {{ categoria.fechaCreacion | date:'dd/MM/yyyy' }}</div>
            <!-- Puedes mostrar más propiedades de la categoría según tus necesidades -->
          </mat-card-content>
        </mat-card>
      </li>
    </ul>
  </ng-template>
</div>
