  <section class="container">
    <button mat-button (click)="navigateToProductoNuevo()">
      Regresar al Listado de Productos
    </button>

    <div class="grid-container">
      <table class="table">
        <thead>
          <tr>
            <th>Nombre del Usuario</th>
            <th>Codigos de Compras</th>
            <th>Codigos de Productos</th>
            <th>Nombre del Producto</th>
            <th>Precio Total</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let fechaCompra of objectKeys(compraGroups)">
            <tr *ngIf="compraGroups[fechaCompra] && compraGroups[fechaCompra].length > 0">
              <td>{{ nombreUsuario }} {{ apellidoUsuario }}</td>
              <td>
                <span *ngFor="let compra of compraGroups[fechaCompra]; let last = last">{{ compra.codigo }}{{ !last ? ', ' : '' }}</span>
              </td>
              <td>
                <span *ngFor="let compra of compraGroups[fechaCompra]; let last = last">{{ compra.productoId }} ({{ compra.cantidad }} cant){{ !last ? ', ' : '' }}</span>
              </td>
              <td>
                <ul>
                  <li *ngFor="let compra of compraGroups[fechaCompra]; let last = last">
                    {{ compra.titulo }} ({{ compra.cantidad }} cant) --
                    {{ compra.tipoEnvio }} --
                    {{ compra.tipoDePago }} --
                    Total a pagar: $ {{ compra.precioCompra.toFixed(2) }} --
                    Con fecha compra: {{ calcularFechaDiferencia(compra.fechaCompra) | date: 'dd/MM/yyyy HH:mm:ss' }}

                  </li>
                </ul>
              </td>
              <td>$ {{ getTotalPrecio(compraGroups[fechaCompra]) }}</td>
              <td>
                <ul>
                  <li *ngFor="let compra of compraGroups[fechaCompra]; let last = last">
                    {{ compra.estadoCompra }}{{ !last ? ', ' : '' }}
                  </li>
                </ul>
              </td>
              <td>
                <button mat-button (click)="generarPDF([compraGroups[fechaCompra]])">Descargar Boleta</button>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <div class="pagination">
      <button mat-button (click)="changePage(-1)" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }}</span>
      <button mat-button (click)="changePage(1)" [disabled]="currentPage * itemsPerPage >= comprasLength">Siguiente</button>
    </div>
  </section>
