<div *ngIf="compraRealizada" class="compra-realizada">
  Compra realizada
</div>

<form (ngSubmit)="realizarCompra()">

  <mat-form-field style="width: 100%">
    <mat-label>Nombre del Producto</mat-label>
    <div style="width: 100%">
      <input matInput [value]="nombreProducto" name="nombreProducto" readonly style="width: 100%">
    </div>
  </mat-form-field>



  <mat-form-field>
    <mat-label>Tipo de Envío</mat-label>
    <select matNativeControl [(ngModel)]="tipoEnvio" name="tipoEnvio" required>
      <option value="Recojo Presencial">Recojo Presencial</option>
      <option value="Envío Delivery">Envío Delivery</option>
    </select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Tipo de Pagó</mat-label>
    <select matNativeControl [(ngModel)]="tipoDePago" name="tipoDePago" required>
      <option value="Pago Virtual">Pagó Virtual</option>
      <option value="Pago Presencial">Pagó Presencial</option>
    </select>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Cantidad</mat-label>
    <input matInput type="number" [(ngModel)]="cantidad" name="cantidad" required min="0">
    <!-- Agrega min="0" para evitar valores negativos -->
  </mat-form-field>

  <mat-form-field>
    <mat-label>Precio</mat-label>
    <input matInput [(ngModel)]="precio" name="precio" disabled>
  </mat-form-field>

  <button mat-button type="submit" [disabled]="cantidad <= 0">Realizar Compra</button>
  <!-- Agrega [disabled]="cantidad <= 0" para deshabilitar el botón cuando cantidad sea menor o igual a cero -->
</form>
